table, th, td {
  border: 1px solid #000;
}

#main-table {
  border-collapse: collapse;
  margin-top: 15px;

}

td, th {
  padding: 5px;
}

.remove {
  cursor: pointer;
  font-weight: 700;
}

.remove:hover {
  color: #E66;
}

.total {
 text-align: right;
}
